@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap'); 

.about-me-card {
    margin: 35px;
    text-align: center;
    border: 10px solid white;
    border-radius: 20px;
    box-shadow: white;
    padding: 30px;
    max-width: 350px; 

    background: black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
      
    /* Smooth transitions */
    transition: all 0.3s ease;
      
    /* Subtle gradient border */
    position: relative;
    overflow: hidden;
} 

.Heading-Color{ 
    color: white;  
    line-height: 15.3px;
    font-family: 'Quicksand', sans-serif;
} 

.paragraph-Color{  
    color: white; 
    line-height: 25px; 
    font-family: 'Quicksand', sans-serif;
}
