* {
  font-family:
    "Quicksand",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}

body {
  margin: 0;
  font-family:
    "Quicksand",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}

code {
  font-family: "Quicksand", monospace;
}
